#unnecessary output files.
bin/
gen/
out/
obj/
target/
classes/
gen*
tmp/

#android related files.
local.properties
proguard.cfg
*.keystore
lint.xml

#mac stuff.
.DS_Store

#idea ignores.
idea/
*.ipr
*.iws
*.iml

#general text editor ignores.
*.~
